
.info-text-container{
  display: flex;
  flex-direction: column;

  & > input {
    width: 98%;
    display: block;
    height: 3rem;
    line-height: 3rem;
    outline: none;
    border-bottom: 2px solid#d5c1b4;
    box-shadow: 0px 0px 10px 0px rgba(209,201,201,0.93);
    box-sizing: border-box;
  }

  & > label {
      width: 100%;
      display: flex;
      align-items: flex-end;
      transform: translateY(-10px);
  }
}

.info-text-container:last-of-type {
 // border: 1px solid deepskyblue;
  width: 100%;
  display: block;
  bottom: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  & > input {
    height: 22rem;
  }
}
