.baswa-gallery {
  //border: 2px solid hotpink;

  height: 100%;
  .index {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    // border: 4px solid pink;
    // @include flex-row;
    position: relative;

    & > div {
      flex-basis: auto;
    }
    &_title {
      height: 100%;
      background: rgba(213, 193, 180, 0.2);
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      flex-basis: auto;
      border-radius: 0 30px 0 0;
      padding: 1rem;
      font-weight: 600;
      line-height: 1.3;
    }
    &_choice {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 4px;
      height: 20%;

      & .menu-container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .menu {
          display: grid;
          grid-template-columns: 1fr 3fr;
          & > h2 {
            font-size: 3rem;
            transform: translateX(-15px);
            grid-column: 1/2;
            grid-row: 1/3;
            color: var(--darkBeige);
          }
          & > h3 {
            font-size: 1rem;
          }
          & > span {
            font-weight: 100;
            cursor: pointer;

            &::after {
              content: attr(data-arrow);
              width: 10px;
              height: 10px;
              color: var(--darkBeige);
            }
          }
        }

        & .submenu-container {
          z-index: 200;
          font-size: 0.8rem;
          // border: 1px solid red;
          display: flex;
          flex-direction: column;
          overflow-x: scroll;
          transition: opacity 0.1s cubic-bezier(0.17, 0.67, 0.7, 0.55),
            visibility 0.8s cubic-bezier(0.17, 0.67, 0.7, 0.55);
          box-shadow: 3px 1px 25px -3px rgba(61, 61, 61, 0.75);
          position: relative;
          top: 5%;
          left: 5%;
          &:hover {
            background: var(--darkBeige);
          }

          & > div {
            // border: 1px solid pink;
            height: 100%;
            line-height: 100%;
          }
        }
      }
    }
    &_button {
      width: 100%;
      background: black;
      height: 30%;
      & > button {
        height: 100%;
        width: 100%;
        background: black;
        color: var(--lightBeige);
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }
}

.downArrow {
  content: "\2191";
}
