
.nav-wrapper {
  //border: 1px solid black;
  display: flex;
  font-size: 0.875rem;
  font-family: 'FlamaBook', sans-serif;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;



  & > .menus {
    display: flex;
    padding-right: 1rem;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    gap : 1.2rem;
    //border:1px solid red;


  }
}
